@import "current-theme.css";

* {
  font-family: New Heterodox Mono;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  background-color: alpha(@surface0, 0.8);
  color: @text;
  margin: 20px;
}

#workspaces {
  margin: 0px;
  margin-left: 0rem;
}

#workspaces button {
  border-radius: 0rem;
  color: @text;
  padding: 0.5rem;
}

#workspaces button.focused {
  color: @surface1;
  background-color: @lavender;
}

#workspaces button:hover {
  color: @sapphire;
}

#wireplumber,
#idle_inhibitor,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock,
#tray,
#custom-power {
  padding: 0.5rem 1rem;
  margin: 0px 0;
}

#idle_inhibitor {
  color: @subtext0;
}

#wireplumber {
  color: @teal;
}

#network {
  color: @mauve;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @sapphire;
}

#temperature {
  color: @pink;
}

#backlight {
  color: @sky;
}


#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  color: @blue;
}

#tray {}
